body {
    margin:0;
    font-family:calibri;
}

/*HEADER*/
header {
      display:flex;
      height:45px;
      width:100%;
      background-color:yellow;
  }

.homeDiv {
    float:left;
    background-color:black;
}

.logo {
height: 45px;

}

.logoParagraph {
      margin:0;
      font-family:Trebuchet MS;
      font-size:24px;
      color: yellow;
}

.headerLinks {
      font-size:18px;
      margin:0;
  }
  
 .headerLinks li {
      display:inline;
      padding-left:5px;
      padding-right:5px;
  
  }
  
a {
          text-decoration:none;
          color:black;
          font-family:calibri;
  
  }
