body {
      margin:0;
      font-family:calibri;
}

/*HEADER*/
header {
      height:60px;
      width:100%;
      background-color:yellow;
      font-family:Trebuchet MS;
  }

.homeDiv {
     float:left;
     background-color:black;
}

.logo {
      height: 45px;
      padding:6px;
} 

.logoParagraph {
      margin:0;
      font-size:24px;
      color: yellow;
}

.headerLinks {
      font-size:18px;
      margin-top:18px;
      float:right;
  }
  
 .headerLinks li {
      display:inline;
      padding-left:5px;
      padding-right:5px;
  
  }
