/*tabs*/
.tab {
	display: flex;
	background-color:#FFFFFF;  	
	font-size:16px;
}
/*tab buttons*/

.tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	display: inline;
	width: auto;
}

.tab button:hover {
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-bottom-color:#00B050;
}

.tab button:active {
	border-bottom-style:solid;
	border-bottom-width:5px;
	border-bottom-color:#00B050;
}

/*style exercise 1*/
#parent {
	color: black;
	display: flex;
	font-family: sans-serif;
	font-weight: bold;
	padding-right:10px;
  }
  
#leftSide {
	width:50%;
	float:left;
}

audio {
display:block	
}


#origin {
	width:50%;
	float:left;
}
  
.square {
 	height:150px;
 	border-radius:10px;
}
  
  #dropzone {
	border-radius:10px;
	border:1px solid black;
	width:243px;
	height:150px

  }



/*other styling*/

#button2 {
	width:auto;
}

#spanSpace{
	padding:5px;
}

#submitButton{
	height:45px;
	width:200px;
	margin:auto;
	font-size:24px;
	text-align:center;
}

#submitButton:hover {
	background-color:rgb(0, 176, 80)
}

.exercise-content {
	font-family:calibri;
}

#instructions {
	font-weight:700;
	padding-left:20px;
}	



.closeparagraph {
 font-size:16px; 
}
