.wrapper{
 display:flex;   
}

.sidebar {
  width:20vw;
}

button {
width:100%; 
 
}

.contents {
    width:80%;
}

  .nameA1 {
    height:45px;
    width:100%;
    background:#000000;
    text-align:center;
    font-size:24px;
    padding-top:15px;
    color:#FFFFFF;
  }

.panel {
    height:25px;
    width:100%;
    border:none;
    text-align:left;
    font-size:20px;
  }

.panel:hover{
  cursor:pointer;
}

li {
    display:block;
    list-style-type:none;
    padding-left:15px;
}

.hide {
display:none;
} 
