body {
    margin:0;
    padding:0;
}

#tab-container {
    display:flex;
}

.tablinks {
    height:34px;
    flex:1;
    border:none;
    text-align:center;
    font-size:20px;
    padding-top:8px;
}

.tablinks:hover {
    cursor:pointer;
}

.active {
    background-color:#808080;   
}

/* span {
    height:45px;
    font-size:25px;
    background:#45f248;
    border:1px solid #FFFFFF;
    box-shadow:1px 1px #2db83d;
    border-radius:5px;
    color:#FFFFFF;
    padding-left:5px;
    padding-right:5px;
    margin-left:5px;
    margin-right:5px;
    
} */

span:hover {
    cursor:pointer;   
}

#exercise1 {
    margin-top: 5%;
    align-items: center;   
}

#instructions{
       font-weight:bold;
}

.form-container {
    width:50%;
    min-height:100vh;
    margin:auto;
    border:3px solid #1269C7;
    box-shadow:5px 5px 5px #808080;
    padding:10px;
}

.form-container2 {
    width:85%;
    min-height:50vh;
    margin:auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    border:3px solid #1269C7;
    box-shadow:5px 5px 5px #808080;
    padding:10px;
}

.name-span {
    padding-left:1em;
    display:inline-block;
}

.form-container3 {
    
}

select {
    outline:none;
}

.map {
 min-height:500px;   
 width:900px;
}

img {
    max-height:300px;
}

.person {
    padding:51px;    
}

.name {
    width:100%;
    height:25px;
    font-size:18px;
    font-weight:bold;
}

#submitButton {
    margin:auto;
    display:flex;
}

.emptyPlaceHolder {
    display:block;
    margin:auto;
    width: 50%;
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.questionsDiv {
    height:50px;
    width:50%;
    border-radius:5px;
    border:1px solid #D3D3D3;
    margin: auto;
   
}

.moved {
  transform: translateX(10px);
  transform: translateY(10px);
}


